.footer__logo {
  color: #fff;
  font-family: Shrikhand, "cursive";
  font-size: 1.2rem;
  margin: 0 37px 1rem;
}

footer {
  padding: 30px 9%;
  color: white;
  background-color: #353535;
  ul {
    color: white;
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      a {
        cursor: pointer;
      }
    }
  }
}

.footer__link {
  color: #fff;
  margin: 3px;
}

.footer__link:hover {
  color: #fff;
  text-decoration: underline;
  margin: 3px;
}
